  ul{
    margin-left: -20px;
float: left;
  }
 ul a{
  text-decoration: none;

}
ul li{
 list-style:none ;
 text-decoration: none;
background-color: azure;
/* margin-right: 20px; */
padding: 5px;
border-radius: 10px;
padding: 10px;
margin: 20px;
width: fit-content;
min-width: 100px;

}
 ul>li> ul{
 display: none;
 background-color: blue;
 }
 ul>li:hover ul{
   display: block;
  color: rgba(35, 35, 187, 0.721);
  } 

   
  ul>li>ul>li{
    border-radius: 5px;
  }